.products__item {
  border: 2px solid cadetblue;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 280px;
  gap: 20px;
}

.products__item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
