.cart__item {
  border: 1px solid cadetblue;
  border-radius: 10px;
  width: 600px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(95, 158, 160, 0.922);
  color: white;
}

.cart__item__btns {
  display: flex;
  gap: 5px;
}

.cart__item button {
  cursor: pointer;
  padding: 6px 8px;
}
